#restaurantInfo{
    width: 40%;
}

#rightSide{
    margin-left: 20px !important;
}

.productDiv{
    width: 500px;
    border: 1px solid gray;
    border-radius: 4px !important;
    margin-bottom: 10px !important;
    padding-left: 20px !important;
}