<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div id="notification-bar">
        <!-- Bildirim içeriği burada gösterilecek -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    

    <div class="navbar navbar-dark bg-success   navbar-expand-lg ">
        <div class="container-fluid justify-content-between ">
            <a class="navbar-brand" href="/">Our food service</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_user == false and current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href='{{ url_for("my_restaurant")}}'>My
                        Restaurant</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Restaurants</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/shopping-cart">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/orders">My Orders</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ">
                {% if current_user.is_authenticated %}
                <li>Welcome {{ current_user.username }} !</li>
                {% endif %}
            </ul>
            {% if not current_user.is_authenticated %}
            <button class="btn btn-warning ">
                <a class="link-underline-opacity-0 text-decoration-none" style="color: black"
                    href="/loginForCustomer">Customer</a>
            </button>
            <button class="btn btn-warning mx-2">
                <a class="link-underline-opacity-0 text-decoration-none" style="color: black"
                    href="/loginForRestaurant">Restaurant</a>
            </button>
            {% endif %}
            {% if current_user.is_authenticated %}
            <button href class="btn btn-danger mx-2 ms-3">
                <a class="link-underline-opacity-0 text-decoration-none" style="color: white"
                    href="{{ url_for('logout') }}">Logout</a>
            </button>
            {% endif %}
        </div>
    </div>
    {% if total_price == 0 %}
    <div class="position-absolute start-50 bottom-50 translate-middle ">
        <p class="border border-2 border-warning rounded-4 p-3">Please add some products :/</p>
    </div>
    {% endif %}
    {% if not total_price == 0  %}
    {% if current_user.is_user == true %}
    <div class="w-100 p-5 d-flex align-items-center justify-content-center ">
        <div class="justify-content-center d-flex ">
            {% for order in shoppingCart %}
            <div class="card mb-2" style="width: 300px !important;">
                <div class="card-body d-flex justify-content-between " style="width: 300px !important;">
                    <div>
                        <p class="card-text"> <b>Product:</b>
                            {{order.product.name}} </p>
                        <p class="card-text"> <b>Price:</b>
                            {{order.product.price}}€</p>
                        <p class="card-text"> <b>Quantity:</b>
                            {{order.quantity}}</p>
                    </div>
                    <div class="pt-4">
                        <a style="width: 40px;height: 40px;margin-right: 10px;" class="btn btn-primary "
                            href="{{ url_for('increment_quantity', product_id=order.product.id) }}">
                            +</a>
                        <a style="width: 40px;height: 40px;" class="btn btn-danger "
                            href="{{ url_for('reduce_quantity', product_id=order.product.id) }}">-
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a style="width: 50x;height: 50px; position: absolute;bottom: 100px;"
        class=" border border-3 border-danger rounded-3 px-2 py-2 translate-middle-x start-50">Totally: {{total_price}} €</a>
    <a style="width: 50x;height: 50px; position: absolute;bottom: 20px;"
        class="btn btn-warning  translate-middle-x start-50" href="{{url_for('place_order')}}">Order Products !</a>
    {% endif %}
    {% endif %}
</body>

</html>